{% extends "layout/basic.html" %}

{% block title %}Вход{% endblock title %}
{% block content %}
<h2>Вход</h2>
{% if user.is_authenticated %}
    <p>Вы уже выполнили вход</p>
{% else %}
    <form method="POST" class="from-group">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Войти" class="btn btn-success">
    </form>
    <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
{% endif %}
{% endblock content %}
