{% load static %} 
{% load bbcode_tags %}
{% load bootstrap4 %}
{% load my_templatetags %}
{% load thumbnail %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
</head>
<body>
	{% cache 300 navbar request.user.is_authenticated request.user.username%}
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="{% url 'bboard:index' %}"><img src="/static/bboard/bg1.jpg" style="width:64px;"></a>
		<!-- Links -->
		{% if user.is_authenticated %}
			<ul class="navbar-nav ">
				<li>
					<a class="nav-link dropdown-toggle text-success" href="#" id="navbardrop" data-toggle="dropdown">
						Функции
					</a>
					<div class="dropdown-menu ">
						<a class="dropdown-item" href="{% url 'bboard:add' %}">Добавить</a>
						<a class="dropdown-item" href="{% url 'bboard:rub_delete' %}">Изменить рубрику</a>
					</div>
				</li>
			</ul>
		{% endif %}
		<ul class="navbar-nav ">
			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Рубрики
				</a>
				<div class="dropdown-menu ">
					{% for rubric in rubrics %}
						<a class="dropdown-item" href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a>
					{% endfor %}
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if user.is_authenticated %}
				<p class="navbar-brand">Добро пожаловать {{ user.username }}</p>
				{% if user.is_superuser %}
					<a class="navbar-brand text-danger" href="http://127.0.0.1:8000/admin/">Администрирование сайта</a>
				{% endif %}
				<a class="navbar-brand text-info" href="{% url 'bboard:logout' %}">Выход</a><br>
			{% else %}
				<a class="navbar-brand" href="{% url 'bboard:login' %}">Войти</a>
				<a class="navbar-brand" href="{% url 'bboard:register' %}">Регистрация</a>
			{% endif %}
		</ul>
		<ul class="navbar-nav ml-auto">
			<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'bboard:search' %}">
				{% csrf_token %}
				<input type="text" value="Поиск" class="">
				<input type="submit" value="Поиск" class="btn btn-success">
			</form>
		</ul>
	</nav>
	{% endcache %}
	<br>
	<section class='container'>
		{% block content %}
		{% endblock %}
	</section>
</body>
</html>