{% load static %} 
{% load bbcode_tags %}
{% load bootstrap4 %}
{% load my_templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
	<title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="{% url 'bboard:index' %}"><img src="/static/bboard/bg1.jpg" style="width:64px;"></a>
		<!-- Links -->
		<ul class="navbar-nav ">
			<li>
				<a class="nav-link dropdown-toggle text-success" href="#" id="navbardrop" data-toggle="dropdown">
					Функции
				</a>
				<div class="dropdown-menu ">
					{% if user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'bboard:add' %}">Добавить</a>
						<a class="dropdown-item" href="{% url 'bboard:rub_delete' %}">Изменить рубрику</a>
					{% endif %}
				</div>
			</li>
			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Рубрики
				</a>
				<div class="dropdown-menu ">
					{% for rubric in rubrics %}
						<a class="dropdown-item" href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric }}</a>
					{% endfor %}
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if user.is_authenticated %}
				<p class="navbar-brand">Добро пожаловать {{ user.username }}</p>
				<a class="navbar-brand text-info" href="{% url 'bboard:logout' %}">Выход</a><br>
				{% if user.is_staff %}
					<a class="navbar-brand text-danger" href="admin/">Администрирование сайта</a>
				{% elif user.is_superuser %}
					<a class="navbar-brand text-danger" href="admin/">Администрирование сайта</a>
				{% endif %}
			{% else %}
				<a class="navbar-brand" href="{% url 'bboard:login' %}">Войти</a>
				<a class="navbar-brand" href="{% url 'bboard:register' %}">Регистрация</a>
			{% endif %} 
		</ul>
	</nav>
	<br>
	<section>
		{% block content %}
		{% endblock %}
	</section>
</body>
</html>